<script src="login.js"></script>
<form>
  <h2>Sign in with Keybase</h2>
  <div>
    <label for="username">Username:</label>
    <input type="text" id="username"/>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password"/>
  </div>
  <div class="button" id="submit">
    <button>Sign In</button>
  </div>
</form>
