<form action="/sendMessage" method="post">
  <div id="headers">
    <p>To: <input type="text" name="to"></p>
    <p>From: <%= emailAddress %></p>
    <p>Subject: <input type="text" name="subject"></p>
  </div>
  <textarea name="email" rows="10" cols="72"></textarea>
  <p><input type="submit" value="Send"></p>
</form>
