<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<% if (!loggedIn) { %>
        <% if (electron) { %>
          <a class="navbar-brand" href="index.ejs">
        <% } else { %>
          <a class="navbar-brand" href="/">
        <% } %>
			<% } else { %>
        <% if (electron) { %>
          <a class="navbar-brand" href="mail.ejs">
        <% } else { %>
          <a class="navbar-brand" href="/mail">
        <% } %>
			<% } %>
      <% if (!staging) { %>
        <%= toolname %>
      <% } else { %>
        <!-- This sub element is used to tell KeybaseAPI whether it should
             access Keybase stage0 or not. Don't remove unless you propagate it
             some other way! -->
        <%= toolname %><sub id="staging"> Staging</sub>
      <% } %>
      </a>
    </div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<% if (loggedIn) { %>
          <% if (electron) { %>
            <li><a href="mail.ejs">Inbox</a></li>
            <li><a href="help.ejs" target="_blank">Help</a></li>
          <% } else { %>
            <li><a href="/mail">Inbox</a></li>
            <li><a href="/help" target="_blank">Help</a></li>
          <% } %>
				<% } %>
			</ul>
    	<ul class="nav navbar-nav navbar-right">
        <% if (electron) { %>
          <li><a href="login.ejs">Log In</a></li>
          <li><a href="signup.ejs">Sign Up</a></li>
        <% } else { %>
          <li><a href="/login">Log In</a></li>
          <li><a href="/signup">Sign Up</a></li>
        <% } %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
