<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Keymail</title>
	<%- include('includeBootstrap'); %>
</head>
<body>
	<%- include('header', { email: email, loggedIn: loggedIn }); %>
	<div class="container">
		<div class="jumbotron">
			<h1>Keymail</h1>
			<p>
				Securely send encrypted emails straight from the browser.
				All you need is a <a href="https://keybase.io/">Keybase</a> account
				and <a href="https://mail.google.com/">Gmail</a> account!
			 </p>
			<p>
				<% if (loggedIn) { %>
					<a class="btn btn-primary" href="/mail" role="button">Go to Inbox</a>
				<% } else { %>
          <a class="btn btn-success" href="/signup" role="button">Get Started</a>
					<a class="btn btn-primary" href="/login" role="button">Log In</a>
				<% } %>
			</p>
		</div>
	</div>
</body>
</html>
