<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Keybase Mail</title>
	<%- include('includeBootstrap'); %>
</head>
<body>
	<%- include('header', { loggedIn: loggedIn }); %>
	<div class="container">
		<div class="jumbotron">
			<h1>Keymail</h1>
			<p>
				Securely send encrypted emails straight from the browser.
				All you need is a <a href="https://keybase.io/">Keybase</a> account
				and <a href="https://mail.google.com/">Gmail</a> account!
			 </p>
			<p><a class="btn btn-primary" href="/login" role="button">Sign In</a>
		</div>
	</div>
</body>
</html>
