<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Confidante</title>
  <%- include('includeBootstrap'); %>
  <link rel="stylesheet" type="text/css" href="common.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="stylesheet" type="text/css" href="header.css">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
</head>
<body>
	<%- include('header', {active: 'index'}); %>
  <section id="intro">
    <div class="container" id="intro-container">
      <div id="intro-text">
        <h1>Confidante</h1>
        <h2>Usable Encrypted Email</h2>
      </div>
      <img src="logo-white-transparent-no-text.png" id="intro-logo"/>
      <!--<div id="intro-flex">
        <div><h4>Send email from your Gmail account</h4></div>
        <div><h4>Encrypt with Keybase</h4></div>
        <div><h4>Easy to use <br/> no expertise needed</h4></div>
      </div> !-->
    </div>
    <div id="warning">
        <h4 id="warning-title">Important!</h4>
        <p>
          Confidante is a research project, which we have released for
          beta-testing and community evaluation. Though Confidante aims to
          provide the security properties described below, this beta version may
          contain bugs or other errors.
        <p>
        <p id="warning-risk">
            Please use Confidante only at your own risk.
        </p>
        <p>
          And please give us feedback!
        </p>
      </div>
  </section>

  <section id="summary">
    <div class="container">
      <div id="screenshots">
        <a href="compose_screen.png" target="_blank"><img src="compose_screen.png" class="screenshot"/></a>
        <a href="message_screen.png" target="_blank"><img src="message_screen.png" class="screenshot"/></a>
      </div>
      <p>
        Confidante is an end-to-end encrypted email client. Our goal in building
        Confidante was to provide strong security properties and make it easy to
        use. We tested the first version of Confidante with journalists and
        lawyers (read the research paper
        <a href="http://www.franziroesner.com/pdf/confidante-eurosp17.pdf" target="_blank">here</a>),
        and now we’d like you to try it out and help us improve it!
      </p>
      <p>
        Confidante is built on top of <a href="https://google.com/gmail" target="_blank">Gmail</a>
        and <a href="https://keybase.io" target="_blank">Keybase</a>. It uses your Gmail
        account to send and receive messages, and uses Keybase to store your
        private keys and look up public keys. Emails are automatically encrypted
        and decrypted in the Confidante client; neither Gmail nor Confidante’s
        servers can access the unencrypted versions of your emails.
      </p>
      <a class="btn btn-primary" href="/about">Read More</a>
    </div>
  </section>

  <section id="download">
    <div class="container">
      <h2>Try Confidante</h2>
      <div id="download-buttons">
        <a class="btn btn-success download-btn" href="/login">
          <h4>Web Preview</h4>
          Desktop and Mobile
        </a>
        <a class="btn btn-success download-btn" href="/releases/Confidante-darwin-x64.zip">
          <h4>Download</h4>
          macOS 10.9 and later (x64)
        </a>
        <a class="btn btn-success download-btn" href="/releases/ConfidanteSetup.exe">
          <h4>Download (Experimental) </h4>
          Windows 7 and later (x64)
        </a>
      </div>
    </div>
  </section>

  <section id="acknowledgments">
    <div class="container">
      <h2>Acknowledgments</h2>
      <p>
        Confidante was created and is maintained by
        <a href="https://homes.cs.washington.edu/~lerner/" target="_blank">Ada Lerner</a>,
        <a href="https://homes.cs.washington.edu/~ericzeng/" target="_blank">Eric Zeng</a>,
        <a href="https://mitalipalekar.github.io/" target="_blank">Mitali Palekar</a>,
        and <a href="http://franziroesner.com/" target="_blank">Franziska Roesner</a>,
        as a research project of the
        <a href="https://www.cs.washington.edu/" target="_blank">Paul G. Allen School of Computer Science &amp; Engineering</a>
        at the University of Washington.
      </p>
      <p>
        This project is funded in part by the
        <a href="https://www.nsf.gov/" target="_blank">National Science Foundation</a>
        under Awards CNS-1463968 and CNS-1513575.
      </p>
      <br/>
      <a href="https://www.cs.washington.edu" target="_blank"><img src="allen_school.png" class="footer-logo" width="300"/></a>
      <a href="http://seclab.cs.washington.edu" target="_blank"><img src="seclab.png" class="footer-logo" width="290"/></a>
    </div>
  </section>

  <%- include('footer', {version: version}); %>
</body>
</html>
