<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Login - <%= toolname %></title>
  <%- include('includeBootstrap'); %>
  <% if (electron) { %>
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/spinner.css">
  <% } else { %>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="spinner.css">
  <% } %>
</head>
<body>
  <%- include('header', { loggedIn: loggedIn }); %>
  <div id="app">
    <div class="container">
      <div>
        <span class="spinner" id="spinner" aria-hidden="true"></span>
        Loading...
      </div>
    </div>
  </div>
  <% if (electron) { %>
    <script src="../../../gen/login-electron.js"></script>
  <% } else { %>
    <script src="login-bundle.js"></script>
  <% } %>
</body>
</html>
