<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('includeBootstrap'); %>
  <% if (electron) { %>
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/header.css">
    <link rel="stylesheet" type="text/css" href="../css/inbox.css">
    <link rel="stylesheet" type="text/css" href="../css/autocomplete.css">
    <link rel="stylesheet" type="text/css" href="../css/keybasecard.css">
    <link rel="stylesheet" type="text/css" href="../css/message.css">
    <link rel="stylesheet" type="text/css" href="../css/snippet.css">
    <link rel="stylesheet" type="text/css" href="../css/spinner.css">
    <link rel="stylesheet" type="text/css" href="../css/composearea.css">
  <% } else { %>
    <link rel="stylesheet" type="text/css" href="common.css">
    <link rel="stylesheet" type="text/css" href="header.css">
    <link rel="stylesheet" type="text/css" href="inbox.css">
    <link rel="stylesheet" type="text/css" href="autocomplete.css">
    <link rel="stylesheet" type="text/css" href="keybasecard.css">
    <link rel="stylesheet" type="text/css" href="message.css">
    <link rel="stylesheet" type="text/css" href="snippet.css">
    <link rel="stylesheet" type="text/css" href="spinner.css">
    <link rel="stylesheet" type="text/css" href="composearea.css">
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="manifest" href="/manifest.json">
  <% } %>
  <title>Inbox - <%= toolname %></title>
  <script type="application/json" id="server-vars">
    <%- JSON.stringify({ toolname: toolname, staging: staging}) %>
  </script>
</head>
<body>
  <div id="app">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand">
            <img id="navbar-logo" src="logo-transparent-no-text.png"/>
            Confidante
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="preload">
        <div class="large-spinner"></div>
        <h3 class="preload-text">Confidante is loading...</h3>
      </div>
    </div>
  </div>
  <%- include('footer', {version: version}); %>
  <% if (electron) { %>
    <script src="../../../gen/inbox-electron.js"></script>
  <% } else { %>
    <script src="inbox-bundle.js"></script>
  <% } %>
</body>
</html>
