<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="inbox.css">
  <title>Inbox - Keybase Mail</title>
</head>
<body>
  <%- include('header', { loggedIn: loggedIn }); %>
  <div id="app">ORIGINAL</div>
  <script src="scrypt.js"></script>
  <script src="inbox-bundle.js"></script>
</body>
</html>
