<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign up for Keymail</title>
	<%- include('includeBootstrap'); %>
</head>
<body>
  <%- include('header', { loggedIn: false }); %>
  <div id="app" class="container">
  </div>
  <script src="scrypt.js"></script>
  <script src="signup-bundle.js"></script>
</body>
</html>
