<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sign up for <%= toolname %></title>
	<%- include('includeBootstrap'); %>

  <% if (electron) { %>
    <link rel="stylesheet" type="text/css" href="../css/signup.css">
    <link rel="stylesheet" type="text/css" href="../css/spinner.css">
  <% } else { %>
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" type="text/css" href="spinner.css">
  <% } %>

  <script type="application/json" id="server-vars">
    <%- JSON.stringify({ toolname: toolname }) %>
  </script>
</head>
<body>
  <%- include('header', { loggedIn: false }); %>
  <div id="app" class="container">
  </div>
  <% if (electron) { %>
    <script>require("../../../gen/signup-bundle.js");</script>
  <% } else { %>
    <script src="signup-bundle.js"></script>
  <% } %>
</body>
</html>
