/**
 * Styles for autocomplete components: ContactsAutocomplete and
 * KeybaseAutocomplete.
 */

.autocomplete-icon {
  margin-right: 6px;
}

.autocomplete-input {
  /* Flexbox */
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  /* Sizing */
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;

  /* Appearance */
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 0px;
}

.autocomplete-label {
  width: 100%;
}

.completion {
  padding: 0em 1em;
}
.completion-selected {
  background-color: #CCF2FF;
  padding: 0em 1em;
}

.contact-token {
  background: #DDE4E9;
  border-radius: 2px;
  padding: 0 4px;
  margin: 2px 4px 2px 0;
  vertical-align: middle;
}

.delete-contact {
  position: relative;
  top: -2px;
  padding-left: 4px !important;
}

.form-control[disabled] {
  background: initial;
}

.react-typeahead-container {
  background: white;
  flex-basis: 50%;
  flex-grow: 1;
}

.react-typeahead-input:focus {
  outline: none;
}

.react-typeahead-hint {
  border: white;
}

.react-typeahead-options {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  position: absolute;
  z-index: 2;
}

.react-typeahead-usertext {
  border: white;
  height: 24px;
  width: 100%;
}
