/**
 * Styles for autocomplete components: ContactsAutocomplete and
 * KeybaseAutocomplete.
 */
.react-typeahead-options {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  position: absolute;
  z-index: 2;
}

.completion {
  padding: 0em 1em;
}
.completion-selected {
  background-color: #CCF2FF;
  padding: 0em 1em;
}
