/**
 * Styles for autocomplete components: ContactsAutocomplete and
 * KeybaseAutocomplete.
 */
.autocompletions {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  padding: 1em 0em;
  position: absolute;
}

.autocompletions:empty {
  display: none;
}

.completion {
  padding: 0em 1em;
}
.completion:hover {
  background-color: #CCF2FF;
  padding: 0em 1em;
}
