@font-face {
  font-family: 'RobotoRegular';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'RobotoLight';
  src: url("../fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
  font-family: 'RobotoMedium';
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}

body {
  font-family: 'RobotoRegular';
}

p {
  font-size: 12pt;
}

h1 {
 font-size: 48pt;
 font-family: 'RobotoLight';
}

h2 {
  font-size: 28pt;
  font-family: 'RobotoLight';
}

.footer {
  text-align: center;
  margin: 4em auto 1em;
  color: #B6B6B6;
  font-size: 9pt;
}

.preload {
  margin: 120px auto;
  text-align: center;
}

.preload-text {
  margin-top: 10px;
}