/*.modal-header {
	background-color: black;
	color: white;
}

.modal-body, .form-horizontal {
	margin: 0px;
}

.modal-content {
	position: absolute;
	right: -20%;
	left: 50%;
	bottom: -600px;
}*/

#composeMessage {
	width: 600px;
	height: 500px;
	border: 2px red solid;
	background: rgba(0,0,0,0.4);
	position: absolute;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	overflow: auto;
}

.email-header {
	border: 2px solid blue;
	padding: 13px;
	background-color: black;
	color: white;
}

.email-body {

}

.formHorizontal {

}

.formGroup {

}

.formControl {
	padding: 12px;
}

.email-footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: white;
	width: 100%;
	padding: 10px;
}

.button-send {

}