/**
 * Styles for the ComposeArea component
 */

/* The top level container element */
.compose-area {
  max-width: 600px;
  max-height: 100%;

  /* These rules get it to hover over the rest of the content */
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 1;

  background-color: #fff;
  border: 1px solid #E5E5E5;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.45)
}

/* The title bar that says "new message" */
.compose-header {
  padding: 12px 14px;
  background-color: #424242;
  color: white;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

@media all and (max-width: 750px) {
  .compose-area {
    right: 0px;
    height: 100%;
  }
  .compose-header {
    border-radius: 0px;
  }
}

.compose-input {
  /* Flexbox */
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;

  /* Sizing */
  padding: 8px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;

  /* Appearance */
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ccc;
}

.compose-input:focus {
  outline: none;
}

#compose-body:focus {
	box-shadow: 0 0 10px #beefb5;
}

.compose-footer {
  background-color: white;
  width: 100%;
  padding: 6px;
}

.compose-send > button {
  margin-right: 14px;
}

.close > span {
  color: white !important;
}

#sign-label {
  margin-left: 5px;
}
