/**
 * Styles for the inbox interface. This covers mostly the mail-related
 * components, like Thread, ThreadSnippet, Message, and the UI buttons, as well
 * as the general layout.
 */
ul {
  list-style-type: none;
  padding: 0;
}

.alert:empty {
  display: none;
}

.navbar-nav li {
  font-size: 16px;
}

.navbar-nav li.active {
  font-weight: bold;
}

/* Margin in compose window */
.form-horizontal {
  margin: 2em;
}

.inbox {
  margin-top: 1em;
}

.inbox-button {
  margin-right: 0.5em;
}

.subjectLine {
  padding-left: 1.5em;
}

@media all and (max-width: 768px) {
  .subjectLine {
    padding-left: 1em;
  }
}

.thread {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 5px 3px #EEEEEE;
  margin: 15px -15px;
}

.threadClose {
  margin-right: 0.75em;
}

.threadHeader {
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  cursor: pointer;
}

#invite-button {
  float: right;
}

@media all and (max-width: 375px) {
  /* Hide "Loading..." text on very small screens where it won't fit */
  #loading-text {
    display: none;
  }
}
