/**
 * Styles for the inbox interface. This covers mostly the mail-related
 * components, like Thread, ThreadSnippet, Message, and the UI buttons, as well
 * as the general layout.
 */
ul {
  list-style-type: none;
  padding: 0;
}

.alert:empty {
  display: none;
}

/* Margin in compose window */
.form-horizontal {
  margin: 2em;
}

.reply {
  margin-top: 1em;
}

.snippet {
  display: flex;
  padding: 0.5em;

  background-color: #EFEFEF;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.snippet-item {
  flex-grow: 1;
}

.snippet-timestamp {
  text-align: right;
}

.subjectLine {
  padding-left: 1.5em;
}

.thread {
  border: 1px solid #E5E5E5;
  box-shadow: 0px 0px 5px 3px #EEEEEE;
  margin: 15px -15px;
}

.threadClose {
  margin-right: 0.75em;
}

.threadHeader {
  border-bottom: 1px solid #E5E5E5;
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.unreadSnippet {
  background-color: #FDFDFD;
  font-weight: bold;
}

#composeButton {
  float: right;
}

.react-typeahead-container {
  background: white;
}
.form-control[disabled] {
  background: initial;
}
