/**
 * Styles for the KeybaseCompletion component.
 */
.keybase-card {
  border: 1px solid #E5E5E5;
  display: inline-flex;
}

.keybase-card:hover {
  background: #FFEAC4;
}

.github-img {
  margin: 0 4px;
}

.line-item {
  padding-right: 1em;
}

.pic-section {
  background: #EFEFEF;
  padding: 0.25em;
  margin-left: -4px;
}

.profile-pic {
  border-radius: 50%;
  max-height: 6em;
}

.info-line {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  margin: 0.5em 1em;
}
