/**
 * Styles for the Message component.
 */
.message {
  border-bottom: 1px solid #EFEFEF;
  padding: 1.5em 3em;
  white-space: pre-wrap;
}

.messageHeader {
  color: #707070;
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1em;
}

.show-original {
  color: #707070;
  font-size: 12px;
}

.signature-header {
  color: #707070;
  margin: 1em;
}

.reply {
  margin: 1em 0.5em 0 0;
}

.reply-arrow {
  margin-right: 0.5em;
}

.reply-all-arrow {
  position: relative;
  left: -8px;
  opacity: 0.6;
  margin-right: 0.2em;
}

/* For small screens */
@media all and (max-width: 768px) {
  .message {
    padding: 1.5em 2em;
  }
  .messageHeader {
    flex-direction: column;  /* Show timestamp vertically under sender */
  }
}
