.snippet {
  padding: 0.5em;

  background-color: #F1F1F1;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.snippet-timestamp {
  text-align: right;
}

/* For small screens */
@media all and (max-width: 991px) {
  .snippet-checkbox {
    display: none;
  }
  .snippet-from {
    font-size: 16px;
  }
}
